<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Flashcard</title>
</head>
<body>
<h1>Flash Card App</h1>
<div th:text="${content}">Capital of France</div>
<form th:if="${showFlip}" method="post" th:action="@{/flip}">
    <input type="submit" value="Flip">
</form>
<form th:unless="${showFlip}" method="post" th:action="@{/confidence}">
    <input type="submit" value="Low">
    <input type="submit" value="Medium">
    <input type="submit" value="High">
</form>
</body>
</html>
